POSTGRES_USER=justfinance
POSTGRES_PASSWORD=change-me
POSTGRES_DB=justfinance
ConnectionStrings__Default=Host=db;Port=5432;Database=justfinance;Username=justfinance;Password=change-me
App__TimeZone=Europe/Vilnius
App__DefaultCulture=en
BIND_ADDRESS=127.0.0.1
SITE_ADDRESS=finance.internal
# HTTPS_PORT=443
# OTEL_EXPORTER_OTLP_ENDPOINT=http://aspire:18889
# OTEL_SERVICE_NAME=jxfinance-api
